{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Supplies{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
</head>
<body>
<div class="navbar1">
    <img src="static\store\media\flag.png" alt="" class="flag">
    <img src="static\store\media\favorites.png" alt="" class="favorites">
    <img src="static\store\media\cart.png" alt="" class="cart">
    <img src="static\store\media\logo.png" alt="" class="logo">
    <img src="static\store\media\geoloc.png" alt="" class="geoloc">

    <div class="search-pan">
        <input type="text" name="search-text" class="search-text" placeholder="Search"/>
    </div>

    <div class="search-div">
        <img src="static\store\media\search.png" alt="" class="search-icon">
    </div>
</div>

<div class="navbar2">
    <img src="static\store\media\menbar.png" alt="">
    <menu>
        <a href="#" class="Menu">MENU</a>
    </menu>


    <li class="fl">
        <a href="/premium/" class="l1">Premium</a>

        <a href="#" class="l2">Brands</a>

        <a href="#" class="l3">Referral Program</a>

        <a href="#" class="l4">Gift Vouchers</a>

        <a href="#" class="l5">Installments</a>

        <a href="#" class="l6">Sales!</a>
    </li>
</div>

<div class="endbar">

</div>
{% block content %}{% endblock %}
</body>
</html>