{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Supplies{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
</head>
<body>

<div class="mainbar">
    <div class="navbar">
        <footer class="f1">
            <p class="footer-links">
                <a href="#" class="l1">Premium</a>

                <a href="#" class="l2">Brands</a>

                <a href="#" class="l3">Referral Program</a>

                <a href="#" class="l4">Gift Vouchers</a>

                <a href="#" class="l5">Installments</a>

                <a href="#" class="l6">Sales!</a>
            </p>
        </footer>
    </div>
</div>
<div class="endbar">

</div>
{% block content %}{% endblock %}
</body>
</html>