/* UTILITIES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* Extra Features */

.fl {
  margin-top: 22.5px;
  margin-left: 50px;
}
.navbar2 {
  display: flex;
  background-color: #37475A;
}
.fl a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  
  color: #D9D9D9;
  margin-left: 30px;
}

.Menu {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;

  color: #FFFFFF;
}

.navbar2 menu{
  margin-top: 22.5px;
  margin-left: 10px;
}

.navbar2 img{
  margin-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Searchbar */

.navbar1 {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #131921;
}

.navbar1 flag{
  display: flex;
}

.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  background: #FEBD69;
  border-radius: 0px 4px 4px 0px;;
}

.search-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  width: 1098px;
  height: 40px;
  background: #FFFFFF;
}

.nav-search {
  position: relative;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px 4px 0 3px;
  height: 60px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border-radius: 0\9;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: auto;
}
.nav-fill {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}