{% extends 'base.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}

<div class="products">
    {%if latest_product_list%}

        <ul class="art">
            {%for a in latest_product_list%}
                <li><a href="{%url 'store:detail' a.id%}">
                    <div class="the-product">
                        <h1>{{a.product_name}}</h1>
                        <h4>{{a.author}}</h4>
                        <p>{{a.product_description}}</p>
                    </div>
                </a></li>
            {%endfor%}
        </ul>

    {%else%}

        <div class="no_art"><h3>NO ARTICLES</h3></div>

    {%endif%}
</div>

<a href="{% url 'store:adding'%}">Adding</a>

{% endblock %}